.article{
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 3px 1px rgba(219, 219, 219, 0.507);
    border-radius: 4px;
    
    h3{
        color:#333;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

}

.description{
    margin-top:10px;
    color:#333;
}

.tags{
    margin-top:15px;
    display: flex;
    flex-wrap: wrap;
    div{
        font-size: 0.9em;
        min-width:60px;
        text-align: center;
        border-radius:5px;
        background-color:rgba(29, 29, 29, 0.945);
        color:#ebebeb;
        margin-left:3px;
        margin-top:3px;
        padding:4px;
    }
}

.date{
    margin-top:10px;
    text-align: right;
    color:#666;
    font-weight: bold;
}

.moreButton{
    width:100px;
    padding: 10px;
    margin-top:10px;
    outline: none;
    font-size: 16px; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    white-space: nowrap;
    color:#666;
    background-color: white;
    border:1px solid rgba(153, 153, 153, 0.658);
    border-radius: 2px;
    &:hover{
        background-color: #ebebeba2;
    }
}

@media (min-width: 660px) {
    .article{
        margin-right:10px;
        margin-bottom: 8px;
    }
}