*{
    margin:0;
    padding: 0;
}
.container{  
    background-color:#ebebeb; //prefect ebebeb
    min-height: 100vh;
}

.content{
    margin-top:30px;
    margin: 0 auto;
    width:10px;
    height:1000px;
    background-color: #222;
}