.signUp{
    max-width: 1000px;
    margin:20px auto;

    h1, h2{
        margin-top:15px;
        margin-left:10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:#555;
    }

}

.form{
   max-width: 290px;
   margin-left:10px;
   margin-top:10px;
}

.form input[type=text], .form input[type=password]{
  margin-bottom: 10px;
  margin-top:2px;
  background-color: rgba(248, 247, 247, 0.979);
  width:95%;
  padding: 8px;
  border:1px solid lightgray;
  border-radius: 3px;
  color:#555;
  outline: none;
  font-size: 1.1em;
  &:focus{
      color:#333;
      border:1px solid rgb(184, 184, 184);
      background-color: white;
  }
}

.label{
    font-size:15px;
    color:#444;
    font-family:fantasy;
}

.submit{
    padding: 10px;
    min-width:100px;
    border:1px solid#222;
    border-radius: 3px;
    background-color: #222;
    color:#ebebebde;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    &:hover{
        transition-duration:0.3s;
        color:white
    }
}

.providerButton{
    margin-left:10px;
    margin-top:10px;
    border:none;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.google{
    background-image: url('../../img/google-icon.svg');
}

.facebook{
    background-image: url('../../img/facebook.svg')
}


