@font-face {
    font-family: 'OldLondon';
    src: local('OldLondon'), url('../../fonts/OldLondon.ttf') format('truetype');
}

.header{
    background-color:rgb(29, 29, 29);
}

.container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    max-width:980px;
    margin: 0 auto;

    a{  
        box-sizing: border-box;
        height:50px;
        &:link{
        color:#ebebeb; //ebebeb
        }
        &:visited{
            color:#ebebeb; //ebebeb
        }
        &:hover{
            color:#ebebeb; //ebebeb
        }
    }


    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        a{
            font-size: 1.1em;
            text-align: center;
            display: inline-block;
            text-decoration: none;
            padding: 10px;
            padding-top:15px;
        }
    }
    
    .navBrand{
        padding-left:8px;
        padding-top: 1px;
        width:100px;
        text-align: center;
        text-decoration: none;
        font-family: 'OldLondon';
        font-size:20px;
         
    }

    .loginButton{
        margin-top:7px;
        margin-right:10px;
        width:60px;
        background-color: rgb(29, 29, 29);
        color:white;
        font-family: ''Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
        height: 36px;
        border-radius: 2px;
        font-size: 15px;
      
        &:hover{
            transition-duration: 0.3s;
            background-color: white;
            color:rgb(29, 29, 29);
            border:2px solid #ebebebe9;
        }
        &:focus {
            outline: none;
        }
        &:active{
            background-color:  #ebebebe9;;
            color:rgb(29, 29, 29);
        }
    }
           
}


