.header{
    background-color:rgb(29, 29, 29);
}

.content{
    height: 46px;
    max-width:1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    a{  
        box-sizing: border-box;
        height:46px;
        &:link{
        color:#ebebeb; 
        }
        &:visited{
            color:#ebebeb; 
        }
        &:hover{
            color:white; 
        }
    }
}