.blockText{
    text-align: center;
    color:#666;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blockImg{
    margin:5px auto;
    opacity: 0.6;
    width:150px;
    height:150px;
    background-image: url('../../../img/block-content.svg');
}